@import "../js/libs/bootstrap/less/bootstrap.less";
//@import "../js/libs/bootstrap/dist/css/bootstrap.css";
@import "fonts.less";
//@import "../fonts/icomoon/style.css";
//@import (less) "../fonts/icons/style.css";
//@import "bootstrap-compiled.less";

@media (min-width: 1070px) {//992
  .container {
    max-width: 1050px;
  }
}

/* ==========================================================================
   Base tags 
   ========================================================================== */

h1, h2, h3, h4, h5, h6  {
  font-family: proximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

body {
  font-family: proximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@cavendishBlue: #27ccff;

nav {
  .clearfix;
  ul {
    float: right;
    list-style: none;
    padding: 0px;
  }
  li {
    display: inline-block;
  }
  a {
    text-transform: uppercase;
  }
}


#home {
  #header {
    height: 500px;
    background: url('/img/bg.jpg') no-repeat top left;
    background-size: cover;
    .container {
      height: 100%;
    }
    nav {
      padding-top: 20px;
      height: 60px;
      #logo-white {
        float: left;
        width: 160px;
        background: rgba(39,204,255, .5);
        padding: 7px 10px;
      }
      ul {
        margin-top: 8px;
      }
      a {
        color: #fff;
      }
    }
    .banner-message {
      height: 440px;
      #cl-brand {
        clear: both;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
      }
      h1 {
        color: @cavendishBlue;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
        clear: both;
        margin: 0 auto;
        margin-top: 50px;
        text-shadow: 1px 1px #000;
      }
      @media (max-width: 768px) { //meaning 0-768
        h1 {
          font-size: 30px;
        }
      }
      .btn {
        background-color: @cavendishBlue;
        color: #fff;
        margin: 0 auto;
        display: block;
        margin-top: 50px;
        padding: 15px 21px;
        font-size: 24px;
        border: @cavendishBlue;
        &:hover {
          background-color: #fff;
          color: @cavendishBlue;
        }
      }
    }

  }
  #bd {
    h1 {
      font-family: proximaNovaLight, sans-serif;
      text-transform: uppercase;
      text-align: center;
      span.border {
        width: 100px;
        height: 3px;
        background: @cavendishBlue;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
    p {
      font-size: 18px;
      font-family: proximaNovaLight, sans-serif;
    }
    section {
      padding: 80px 0;
    }
  }
  #welcome {
  }
  #whatwedo {
    background: url('/img/hand-dark.jpg') no-repeat center bottom;
    background-size: cover;
    h1 {
      color: #fff;
    }
    .col {
      img {
        display: block;
        margin: 0 auto;
      }
      h2 {
        color: #fff;
        font-size: 20px;
        text-align: center;
      }
      p {
        color: #fff;
        text-align: center;
      }
    }
    @media (max-width: 768px) { //meaning 0-768
      .col {
        margin-bottom: 50px;
      }
    }

  }
  #featuredworks {
    h1 {
      margin-bottom: 70px;
    }
    img {
      width: 100%;
    }
    .col-md-6 {
      margin-bottom: 50px;
    }
  }
  #contact-us {
    background: @cavendishBlue;
    color: #fff;
    p {
      text-align: center;
    }
    .btn {
      background-color: @cavendishBlue;
      color: #fff;
      margin: 0 auto;
      margin-top: 40px;
      padding: 15px 21px;
      font-size: 24px;
      border: 1px solid #fff;
      &:hover {
        background-color: #fff;
        color: @cavendishBlue;
      }
    }
  }
}
.navbar {
  margin-bottom: 0;
  .navbar-brand {
    padding: 0;
    margin-top: 6px;
  }
  #logo {
    width: 175px;
  }
  ul {
    float: right;
    li {
      a {
        padding: 0;
        margin-top: 16px;
        color: @cavendishBlue;
        text-transform: uppercase;
      }
    }
  }
}
#contact {
  nav {
    min-height: 50px;
    .brand {
      margin-top: 6px;
      display: inline-block;
       #logo {
        width: 175px;
      }
    }
    li {
        margin-top: 14px;
      a {
        color: @cavendishBlue;
      }
    }
  }
  #bd {
    background: url('/img/beach.jpg') no-repeat center center;
    height: 500px;
    .container {
      background: rgba(39,204,255, .9);
    }
    .container {
      max-width: 700px;
    }
    @media (max-width: 768px) { //meaning 0-768
      h1 {
        font-size: 40px;
      }
    }
    section {
      margin-bottom: 50px;
    }
    section._2 {
      margin-bottom: 20px;
    }
    h1 {
      color: #fff;
      font-family: proximaNovaLight;
      text-align: center;
      margin-top: 60px;
      margin-bottom: 50px;
      font-size: 50px;
    }
    p {
      color: #fff;
      text-align: center;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .bold {
      font-weight: bold;
    }
    .light {
      font-family: proximaNovaLight;
    }
  }
  #form {
    background: #f7f7f7;
    .container {
      max-width: 500px;
      background: #fff;
      padding: 50px;
    }
    @media (min-width: 1070px) {//992

    }
  }
}

form {
  span.error {
    color: #b94a48;;
    display: block;
    //margin-top: -10px;
    margin-bottom: 10px;
  }
}

#alert {
  position: fixed;
  left: 50%;
  z-index: 1060;
  .content {
    position: relative;
    left: -50%;
    background: #F9EDBE;
    border: 1px solid #F0C36D;
    color: #222;
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    .close {
      color: #fff; 
      text-decoration: none;
      margin-top: -9px;
      margin-right: -6px;
      .opacity(100);
    }
  }
 .error {
    border: 1px solid #E73E36;
    background: #fff;
    color: #E73E36;
    .close {
      color: #E73E36;
    }
  }
}

#myModal {
  #alert;
  .content {
    width: 600px; 
    background: #333;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    .inner {
      padding: 40px;
      .clearfix(); 
    }
    p {
      font-size: 40px;
    }
  }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(.5);
}

footer {
  background-color: #333;
  padding: 50px 0;
  text-align: center;
  .copyright {
    color: #777e83;
    //font-size: 12px;
    clear: both;
    padding-top: 15px;
    border-top: 1px solid #3a3e40;
    margin-top: 15px;
  }
  #logo-footer {
    width: 100px;
  }
}
